<<<<<<< HEAD
html{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
    box-sizing: border-box;
    
	
}

*,
*:after,
*::before{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}


body, h1,h2,h3,h4,ul{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

body { 
    /* width: 100%; */
    /* margin: auto; */
    /* display:flex;
    
    flex-direction: column; */
    /* max-width:1240px; */


    background-color: white; 
    
    } 

    

    .ulproductos ul {
      display:flex;
      flex-wrap:wrap;
      position: relative;
      order: 0;
      width: calc(100% + 20px);
      left: -10px
      }

      .ulproductos li {
      display: block;
  
      margin: 0 auto;
      
    }
    
 iframe {
    width: 100%;
  }






.ulproductos h2{
    margin: 50px;
}

.caja2{
    margin: 50px;
}


h1{
    margin: 50px;
}


a.anav  {
    text-decoration: none;
    margin: 0;
    height: 30px;
    text-align: center;
    line-height: 25px;
    background-color: #128C7E;
    border-radius: 16px;
    border: 2px solid #25D366;
    color: white;
    margin: 0 auto;
    padding: 0 10px;
    line-height: 30px;
}


.containernav {
    display: grid;
    height: 80px;
    width: 100%;
  
    margin: 0 auto;
    background: #009ece;
}

.containernav img {
    height: 50px;
    display: grid;
}

.containernav nav {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    
    width: 100%;
}



.containernav li {
    text-decoration: none;
    list-style: none;
    color: white;
}

a.linknav {
    color: white;
    text-decoration: none;
}

.containernav nav ul {
    display: grid;
    width: 100%;
    line-height: 50px;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    
}



.navbar li{
    display: none;
}


/* WhatsAPP CHAT */
/* Menu hamburger */
.cardnegocio {
    border-radius: 50%;
	background: #25d366;
    /* box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF; */
    cursor: pointer;
    height: 60px;
    position: fixed;
	margin-top:3px;
    width: 60px;
	z-index: 30;
	display: grid;
	grid-template-columns: auto;
    align-items: center;
    bottom: 20px;
    right: 20px;
    z-index: 997;
}

/* menu flotante  movil color menu2 */

.cardmenu{
	position: fixed;
	bottom: 0;
	z-index: 998;
	right: -100%;
	transition: .55s .1s cubic-bezier(0, 1.07, 0, 1.02);
    width: 100%;
    min-height: 0;
}

.cardmenu2{
    display: grid;
    position: relative;
}

.whatboton2 {
    display: block;
    position: absolute;
    z-index: 2;
    bottom: -1px;
    right: 0;

    border-radius: 30px;
    box-shadow: 1px 6px 24px 0 rgba(7,94,84,.24);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background-color: #25d366;
}

.whatmbien2{
 

max-height: calc(100vh - 100px);
    height: 210px;
    overflow: hidden auto;
    background: #ede4dd url(img/backchat.webp) center repeat-y;
    background-size: 100% auto;
    border-radius: 30px;
}

.whatmesage2 {
    position: relative;
    padding: 20px;
    margin: 26px 26px;
    border-radius: 32px;
    background-color: #fff;
    color: #4a4a4a;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
} 


.cardmenu .hul2{
	width: 75%;
	height: 100%;
	position: relative;

	font-size: 1em;
	background:  rgb(242, 238, 246, .9);
    float: right;
    border-radius: 30px 0 0 30px;
    overflow: hidden;
    bottom: 20px;
    max-width: 400px;
    box-shadow: 10px 10px 34px -11px rgba(0,0,0,1);
	
}

/* mostra la caja de chat */

.mostrarcardmenu{
    right: 0;
}

.mostrarmenu{
    display: none;
}


/*  */

.hwhat{
    float: none;
    display: flex;
    align-items: center;
    position: static;
    width: 100%;
    height: 70px;
    padding: 0 26px;
    margin: 0;
    background-color: #25d366;
    color: white;
    border-radius: 30px 0 0;
}

.icon-x{
    display: -webkit-flex;
    display: flex;
    position: absolute;
    top: 18px;
    right: 24px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    text-align: center;
    opacity: .2;
    cursor: pointer;
    transition: opacity .3s ease-out;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
}

.iconxmodals{
    top: 0;
    right: 0;
    background: rgba(255,255,255,.3);
    color: white;
    opacity: .4;
}

.icon-x:before {
    content: "\ea0f";
    margin: 0 auto;
    font-size: 10px;
    font-weight: 200;
}

.whatmbien{
    max-height: calc(100vh - 100px);
    padding: 20px 0 80px 0;
    overflow: hidden auto;
    background: #ede4dd url(img/backchat.webp) center repeat-y;
    background-size: 100% auto;

}

.whatlogo{
    display: flex;
    align-items: center;
}
.whatlogo .lw{
    font-size: 28px;
}

.wtext{
    margin-left: 5px;
    font-size: 19px;
    font-weight: bold;
}


.unowhat{
    
    /* visibility: visible;  js con scroll*/ 
    position: absolute;
    display: none; /*quitar en scroll js*/
    top: -4px;
    right: -4px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background: #e82c0c;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    box-shadow: none;
    pointer-events: none;
    color: white;
}
    
/* .uwc2{
    visibility: hidden;
    position: absolute;

}cuando se usa js por scroll */ 

.whatmesage {
    position: relative;
   
    padding: 20px;
    margin: 0 26px 26px;
    border-radius: 32px;
    background-color: #fff;
    color: #4a4a4a;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
}

.whatboton{
    display: flex;
    position: absolute;
    z-index: 2;
    bottom: 8px;
    right: 8px;
    border-radius: 30px;
    box-shadow: 1px 6px 24px 0 rgba(7,94,84,.24);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background-color: #25d366;
}


.whatboton a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.whatboton a span{
    margin: 0 10px;
    
    color: white;
}

.whatboton img {
    border-radius: 50%;
    height: 60px;
}

 .whatboton2 a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.whatboton2 a span{
    margin: 0 10px;
    
    color: white;
}

.whatboton2 img {
    border-radius: 50%;
    height: 60px;
}



span.wtext2 {
    color: white;
    font-size: 27px;
    margin-left: 3px;
}

span.icon-whatsapp.lw {
 
    color: white;
} 
/*  */
.mw {
    font-size: 39px;
    color: #fff;
    text-align: center;
}

.hamburger:before:hover{
	width: 25px;
    height: 3px;
}

.hamburger {
    position: fixed;
    top: 24px;
    left: 15px;
    width: 20px;
    height: 2px;
    background: #ffffff;;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}



.hamburger:after,
.hamburger:before {
    background: #ffffff;
    content: "";
    display: block;
    transition: .5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}

.hamburger:before {
    top: -8px;
}

.hamburger:after {
    bottom: -8px;
}

/* styles herramientas*/
.ficha {
    width: 155px;
  
}

img.imgficha {
    width: 100%;
}
.detalles {
    display: grid;
}

input#fichavalor {
    width: 100%;
}

input#preciod,input#preciod2 {
    opacity: 0;
}

input#fichavalor {
    text-align: center;
}


@media screen and (min-width: 768px) {




.ulproductos {
    
     
        grid-template-columns: 50% 50%;
    
      }

      .navbar li{
        display: grid;
    }
  
   



=======
html{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
    box-sizing: border-box;
    
	
}

*,
*:after,
*::before{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}


body, h1,h2,h3,h4,ul{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

body { 
    /* width: 100%; */
    /* margin: auto; */
    /* display:flex;
    
    flex-direction: column; */
    /* max-width:1240px; */


    background-color: white; 
    
    } 

    

    .ulproductos ul {
      display:flex;
      flex-wrap:wrap;
      position: relative;
      order: 0;
      width: calc(100% + 20px);
      left: -10px
      }

      .ulproductos li {
      display: block;
  
      margin: 0 auto;
      
    }
    
 iframe {
    width: 100%;
  }






    /* form {
width: 50%;
margin: 0 auto;
max-width: 400px;

height: 100%;
display: grid;
align-content: center;
margin-top: 30px;
}

input, textarea {
width: 100%;
margin-bottom: 15px;
padding: 7px;
font-size: 1em;
border-radius: 3px;
background: rgba(255,255,255, .9);
color: #4d148c;
border: 1px solid #ff9e00;
}

.sumitb{
display: block;
position: relative;
margin: 5% auto 0 auto;
border-radius: 5px;
background: #ff9e00;
background: linear-gradient(to bottom, white 0%,#ff9e00 10%);
background-color: white;
border: 1px solid #ff9e00;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
cursor: pointer;
line-height: 25px;
color: white;
}

input::placeholder {
    color: rgba(0,0,0,.3);
}

.diseño{
font-size: 12px;
grid-area: footer;
}

.diseño p{
text-align: center;
}

.diseño a{
text-decoration: none;
color:#4d148c;
}

.ulproductos{
    display: grid;
    grid-template-columns: auto;
} */

.ulproductos h2{
    margin: 50px;
}

.caja2{
    margin: 50px;
}


h1{
    margin: 50px;
}


a.anav  {
    text-decoration: none;
    margin: 0;
    height: 30px;
    text-align: center;
    line-height: 25px;
    background-color: #128C7E;
    border-radius: 16px;
    border: 2px solid #25D366;
    color: white;
    margin: 0 auto;
    padding: 0 10px;
    line-height: 30px;
}


.containernav {
    display: grid;
    height: 80px;
    width: 100%;
  
    margin: 0 auto;
    background: #009ece;
}

.containernav img {
    height: 50px;
    display: grid;
}

.containernav nav {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    
    width: 100%;
}



.containernav li {
    text-decoration: none;
    list-style: none;
    color: white;
}

a.linknav {
    color: white;
    text-decoration: none;
}

.containernav nav ul {
    display: grid;
    width: 100%;
    line-height: 50px;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    
}



.navbar li{
    display: none;
}


/* WhatsAPP CHAT */
/* Menu hamburger */
.cardnegocio {
    border-radius: 50%;
	background: #25d366;
    /* box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF; */
    cursor: pointer;
    height: 60px;
    position: fixed;
	margin-top:3px;
    width: 60px;
	z-index: 30;
	display: grid;
	grid-template-columns: auto;
    align-items: center;
    bottom: 20px;
    right: 20px;
    z-index: 997;
}

/* menu flotante  movil color menu2 */

.cardmenu{
	position: fixed;
	bottom: 0;
	z-index: 998;
	right: -100%;
	transition: .55s .1s cubic-bezier(0, 1.07, 0, 1.02);
    width: 100%;
    min-height: 0;
}

.cardmenu2{
    display: grid;
    position: relative;
}

.whatboton2 {
    display: block;
    position: absolute;
    z-index: 2;
    bottom: -1px;
    right: 0;

    border-radius: 30px;
    box-shadow: 1px 6px 24px 0 rgba(7,94,84,.24);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background-color: #25d366;
}

.whatmbien2{
 

max-height: calc(100vh - 100px);
    height: 210px;
    overflow: hidden auto;
    background: #ede4dd url(img/backchat.webp) center repeat-y;
    background-size: 100% auto;
    border-radius: 30px;
}

.whatmesage2 {
    position: relative;
    padding: 20px;
    margin: 26px 26px;
    border-radius: 32px;
    background-color: #fff;
    color: #4a4a4a;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
}


.cardmenu .hul2{
	width: 75%;
	height: 100%;
	position: relative;

	font-size: 1em;
	background:  rgb(242, 238, 246, .9);
    float: right;
    border-radius: 30px 0 0 30px;
    overflow: hidden;
    bottom: 20px;
    max-width: 400px;
    box-shadow: 10px 10px 34px -11px rgba(0,0,0,1);
	
}

/* mostra la caja de chat */

.mostrarcardmenu{
    right: 0;
}

.mostrarmenu{
    display: none;
}


/*  */

.hwhat{
    float: none;
    display: flex;
    align-items: center;
    position: static;
    width: 100%;
    height: 70px;
    padding: 0 26px;
    margin: 0;
    background-color: #25d366;
    color: white;
    border-radius: 30px 0 0;
}

.icon-x{
    display: -webkit-flex;
    display: flex;
    position: absolute;
    top: 18px;
    right: 24px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    text-align: center;
    opacity: .2;
    cursor: pointer;
    transition: opacity .3s ease-out;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
}

.iconxmodals{
    top: 0;
    right: 0;
    background: rgba(255,255,255,.3);
    color: white;
    opacity: .4;
}

.icon-x:before {
    content: "\ea0f";
    margin: 0 auto;
    font-size: 10px;
    font-weight: 200;
}

.whatmbien{
    max-height: calc(100vh - 100px);
    padding: 20px 0 80px 0;
    overflow: hidden auto;
    background: #ede4dd url(img/backchat.webp) center repeat-y;
    background-size: 100% auto;

}

.whatlogo{
    display: flex;
    align-items: center;
}
.whatlogo .lw{
    font-size: 28px;
}

.wtext{
    margin-left: 5px;
    font-size: 19px;
    font-weight: bold;
}


.unowhat{
    
    /* visibility: visible;  js con scroll*/ 
    position: absolute;
    display: none; /*quitar en scroll js*/
    top: -4px;
    right: -4px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background: #e82c0c;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    box-shadow: none;
    pointer-events: none;
    color: white;
}
    
/* .uwc2{
    visibility: hidden;
    position: absolute;

}cuando se usa js por scroll */ 

.whatmesage {
    position: relative;
   
    padding: 20px;
    margin: 0 26px 26px;
    border-radius: 32px;
    background-color: #fff;
    color: #4a4a4a;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
}

.whatboton{
    display: flex;
    position: absolute;
    z-index: 2;
    bottom: 8px;
    right: 8px;
    border-radius: 30px;
    box-shadow: 1px 6px 24px 0 rgba(7,94,84,.24);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background-color: #25d366;
}


.whatboton a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.whatboton a span{
    margin: 0 10px;
    
    color: white;
}

.whatboton img {
    border-radius: 50%;
    height: 60px;
}

.whatboton2 a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.whatboton2 a span{
    margin: 0 10px;
    
    color: white;
}

.whatboton2 img {
    border-radius: 50%;
    height: 60px;
}



span.wtext2 {
    color: white;
    font-size: 27px;
    margin-left: 3px;
}

span.icon-whatsapp.lw {
 
    color: white;
}
/*  */
.mw {
    font-size: 39px;
    color: #fff;
    text-align: center;
}

.hamburger:before:hover{
	width: 25px;
    height: 3px;
}

.hamburger {
    position: fixed;
    top: 24px;
    left: 15px;
    width: 20px;
    height: 2px;
    background: #ffffff;;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}



.hamburger:after,
.hamburger:before {
    background: #ffffff;
    content: "";
    display: block;
    transition: .5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}

.hamburger:before {
    top: -8px;
}

.hamburger:after {
    bottom: -8px;
}

/* styles herramientas*/
.ficha {
    width: 155px;
    height: 300px;
}

img.imgficha {
    width: 100%;
}
.detalles {
    display: grid;
}

input#fichavalor {
    width: 100%;
}



@media screen and (min-width: 768px) {




.ulproductos {
    
     
        grid-template-columns: 50% 50%;
    
      }

      .navbar li{
        display: grid;
    }
  
   



>>>>>>> bfc52d7db338ad046602f697123a6ec63c1cb879
}