@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoonb687.eot?6m0cn1');
  src:  url('fonts/icomoonb687.eot?6m0cn1#iefix') format('embedded-opentype'),
    url('fonts/icomoonb687.ttf?6m0cn1') format('truetype'),
    url('fonts/icomoonb687.woff?6m0cn1') format('woff'),
    url('fonts/icomoonb687.svg?6m0cn1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-redacta:before {
  content: "\e905";
}
.icon-listadecontactos:before {
  content: "\e944";
}
.icon-programar:before {
  content: "\e953";
}
.icon-filtro:before {
  content: "\e975";
}
.icon-configuracion:before {
  content: "\e995";
}
.icon-envios:before {
  content: "\e9a5";
}
.icon-informe:before {
  content: "\e9b8";
}
.icon-chatbot:before {
  content: "\eac6";
}
